@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  font-family: "inter", sans-serif;
}
body p,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0;
}
body p,
body ul {
  font-size: 14px;
}

ul,
li {
  all: unset;
}

a {
  all: unset;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: hsl(0, 0%, 100%);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 2rem 3rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.profile .photo {
  clip-path: circle();
}
.profile .photo img {
  width: 4.5rem;
}
.profile .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.profile .desc #name {
  font-weight: 600;
  font-size: 24px;
}
.profile .desc #location {
  color: #c1a998;
  font-weight: 700;
}
.profile .desc #occupation {
  margin-top: 1rem;
}

.social-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 1rem;
  width: 100%;
}
.social-list .account {
  display: inline-block;
  text-align: center;
  background: hsl(0, 0%, 20%);
  width: inherit;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
.social-list .account#github:hover {
  background: #24292e;
  color: hsl(0, 0%, 100%);
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.social-list .account#github:active {
  background: #181b1e;
  transform: translateY(0px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.social-list .account#frontend-mentor:hover {
  background: hsl(0, 0%, 100%);
  color: #718dc1;
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
}
.social-list .account#frontend-mentor:active {
  background: #bfbfbf;
  transform: translateY(0px);
  box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
}
.social-list .account#linkedin:hover {
  background: #0077b5;
  color: hsl(0, 0%, 100%);
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px 0px rgba(0, 119, 181, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 119, 181, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 119, 181, 0.5);
}
.social-list .account#linkedin:active {
  background: #005d90;
  transform: translateY(0px);
  box-shadow: 0px 1px 5px 0px rgba(0, 119, 181, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 119, 181, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 119, 181, 0.5);
}
.social-list .account#twitter:hover {
  background: #1dcaff;
  color: hsl(0, 0%, 100%);
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px 0px rgba(29, 202, 255, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(29, 202, 255, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(29, 202, 255, 0.5);
}
.social-list .account#twitter:active {
  background: #16a6d1;
  transform: translateY(0px);
  box-shadow: 0px 1px 5px 0px rgba(29, 202, 255, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(29, 202, 255, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(29, 202, 255, 0.5);
}
.social-list .account#instagram:hover {
  background: hsl(0, 0%, 100%);
  color: #8a49a1;
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
}
.social-list .account#instagram:active {
  background: #bfbfbf;
  transform: translateY(0px);
  box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
}
.social-list a {
  display: block;
  padding: 14px;
}

@media (max-width: 768px) {
  .social-list .account#github:hover, .social-list .account#frontend-mentor:hover, .social-list .account#linkedin:hover, .social-list .account#twitter:hover, .social-list .account#instagram:hover {
    transform: unset;
  }
  .social-list .account#github:active, .social-list .account#frontend-mentor:active, .social-list .account#linkedin:active, .social-list .account#twitter:active, .social-list .account#instagram:active {
    transform: translateY(3px);
  }
}

/*# sourceMappingURL=style.css.map */
