// Imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import "../scss/brands.scss";

// Variables

//Social Media Colour
$White: hsl(0, 0%, 100%);
$Github: #24292e;
$Linkedin: #0077b5;
$Twitter: #1dcaff;
$Spotify: #1db954;

// Breakpoint
$BreakpointTablet: 768px;

// Mixin
@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin tablet-transform {
  &:hover {
    transform: unset;
  }
  &:active {
    transform: translateY(3px);
  }
}

:root {
  --clr-light: #f9f9f8;
  --clr-dark: #0d1321;
  --clr-card: #f5f5f5;
  --clr-button: #e2dede;
  --clr-accent: #ae7c1e;

  --background: var(--clr-light);
  --foreground: var(--clr-dark);
}

.darkMode {
  --clr-light: #141414;
  --clr-dark: #ffffff;
  --clr-card: #1f1f1f;
  --clr-button: #333333;
  --clr-accent: #ece2d0;

  --background: var(--clr-light);
  --foreground: var(--clr-dark);
}

body {
  background-color: var(--background);
  height: 100vh;
  margin: 0;
  font-family: "inter", sans-serif;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  p,
  ul {
    font-size: 14px;
  }
}

ul,
li {
  all: unset;
}

a {
  all: unset;
}

.container {
  @include flex-center();
  height: 100%;
}

.card {
  @include flex-center();
  background-color: var(--clr-card);
  border-radius: 10px;
  padding: 2rem 3rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.profile {
  @include flex-center();
  gap: 1rem;
  color: var(--clr-dark);

  .photo {
    clip-path: circle();

    img {
      width: 4.5rem;
    }
  }
  .desc {
    @include flex-center();
    justify-content: flex-start;
    gap: 10px;

    #name {
      font-weight: 600;
      font-size: 24px;
      //   letter-spacing: 1px;
    }
    #location {
      color: var(--clr-accent);
      font-weight: 700;
    }
    #occupation {
      margin-top: 1rem;
    }
  }
}

.social-list {
  @include flex-center();
  gap: 14px;
  margin-top: 1rem;
  width: 100%;

  .account {
    display: inline-block;
    text-align: center;
    background: var(--clr-button);
    width: inherit;

    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.1s ease-in-out;

    &#github {
      &:hover {
        background: $Github;
        color: $White;
        transform: translateY(-3px);
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
      }
      &:active {
        background: #181b1e;
        transform: translateY(0px);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
      }
    }
    &#spotify {
      &:hover {
        background: $Spotify;
        color: $White;
        transform: translateY(-3px);
        box-shadow: 0px 3px 10px 0px rgba(29, 185, 84, 0.5);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(29, 185, 84, 0.5);
        -moz-box-shadow: 0px 3px 10px 0px rgba(29, 185, 84, 0.5);
      }
      &:active {
        background: #1aa64b;
        transform: translateY(0px);
        box-shadow: 0px 1px 5px 0px rgba(29, 185, 84, 0.5);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(29, 185, 84, 0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(29, 185, 84, 0.5);
      }
    }
    &#linkedin {
      &:hover {
        background: $Linkedin;
        color: $White;
        transform: translateY(-3px);
        box-shadow: 0px 3px 10px 0px rgba(0, 119, 181, 0.5);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 119, 181, 0.5);
        -moz-box-shadow: 0px 3px 10px 0px rgba(0, 119, 181, 0.5);
      }
      &:active {
        background: #005d90;
        transform: translateY(0px);
        box-shadow: 0px 1px 5px 0px rgba(0, 119, 181, 0.5);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 119, 181, 0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(0, 119, 181, 0.5);
      }
    }
    &#twitter {
      &:hover {
        background: $Twitter;
        color: $White;
        transform: translateY(-3px);
        box-shadow: 0px 3px 10px 0px rgba(29, 202, 255, 0.5);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(29, 202, 255, 0.5);
        -moz-box-shadow: 0px 3px 10px 0px rgba(29, 202, 255, 0.5);
      }
      &:active {
        background: #16a6d1;
        transform: translateY(0px);
        box-shadow: 0px 1px 5px 0px rgba(29, 202, 255, 0.5);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(29, 202, 255, 0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(29, 202, 255, 0.5);
      }
    }
    &#instagram {
      &:hover {
        background: $White;
        color: #8a49a1;
        transform: translateY(-3px);
        box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
        -webkit-box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
        -moz-box-shadow: 0px 3px 10px 0px rgba(245, 245, 245, 0.5);
      }
      &:active {
        background: #bfbfbf;
        transform: translateY(0px);
        box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
        -webkit-box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
        -moz-box-shadow: 0px 1px 5px 0px rgba(245, 245, 245, 0.5);
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    gap: 0.5rem;
  }
}

@media (max-width: 768px) {
  .social-list {
    .account {
      &#github,
      &#spotify,
      &#linkedin,
      &#twitter,
      &#instagram {
        @include tablet-transform();
      }
    }
  }
}
